<span id="topic-freeword" type="text" style="display: none" />
<input id="topic-hasPicture" type="checkbox" checked style="display: none" />
<div class="card" style="margin-top: -1.3rem;visibility:hidden" id="item4Tmpl" >
    <div class="title" id="cardTitleDiv">
        <span id="cardTitleSpan"></span>
    </div>
    <div class="content">
        <div id="finplex_topics" class="row my-shuffle-container" style="margin-top:-3rem; padding-bottom: 3rem;min-height: 20rem;">
        </div>
    </div>
</div>
