            <table id="companies_table" class="table table-hover" style="border-bottom: none;">
                <thead>
                    <tr>
                        <th>企業コード</th>
                        <th>漢字商号</th>
                        <th>カナ商号</th>
                        <th>英文商号</th>
                        <th>所在地</th>
                        <th>業種</th>
                        <th>代表者漢字氏名</th>
                        <th>代表者カナ氏名</th>
                        <th>表示</th>
                    </tr>
                </thead>
                <tbody class="cr_list_body">
                </tbody>
            </table>
