<div class="companyCommands">
    <input type="checkbox" id="checkbox2" />
    <label for="checkbox2" class="keep-check" data-name="（株）川崎フロンターレ" onclick="addChip();">この企業をキープ</label>
</div>
<div class="companyInfo">
    <div class="companyName">（株）川崎フロンターレ</div>
    <div class="companyScore">
        <!-- Ratings with Stars -->
        <span class="ratingStars">
                <i class="ion-star orange-text"></i>
                <i class="ion-star orange-text"></i>
                <i class="ion-star orange-text"></i>
                <i class="ion-star orange-text"></i>
                <i class="ion-star grey-text"></i>
            </span>
        <!-- /Ratings with Stars -->
        <span class="red-text fw-700" style="font-size: 2.5rem;">78.0</span>
        <span class="commands">
                <a class="btn-floating btn-small indigo lighten-1" href="https://ja-jp.facebook.com/kawasakifrontaleofficial/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="btn-floating btn-small blue" href="https://twitter.com/frontale_staff" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="btn-floating btn-small deep-orange lighten-1" href="https://www.navitime.co.jp/maps/poi?address=141340200040000800022" target="_blank"><i class="mdi-maps-local-restaurant"></i></a>
                <a class="btn-floating btn-small grey" href="#"><i class="mdi-communication-call-merge"></i></a>
                <a class="btn-floating btn-small green" href="http://www.frontale.co.jp/" target="_blank"><i class="mdi-social-public"></i></a>
            </span>

    </div>
    <div class="companyAccess">
        <table>
            <tr>
                <th><i class="mdi mdi-maps-place red-text"></i>所在地：</th>
                <td>
                    〒213-0013<br/>神奈川県川崎市高津区末長４－８－５２
                    <a href="https://www.navitime.co.jp/maps/poi?address=131030230010000500002" target="_blank" class="waves-effect btn-floating btn-small blue"><i class="mdi mdi-maps-directions"></i></a>
                </td>
            </tr>
            <tr>
                <th><i class="mdi mdi-communication-phone green-text"></i>電話：</th>
                <td>044-813-8618</td>
            </tr>
        </table>
    </div>
</div>
<div class="companyData row">
    <div id="test1" class="tab-content">

        <div class="content-card z-depth-2">
            <div class="command">
                <a class="waves-effect btn-floating btn-small pink"><i class="mdi-action-trending-up"></i></a>業績上昇
            </div>
            <div class="info">
                12年連続黒字 営業収入40億円超え
                <img src="assets/_con/images/02.png" style="width: 100%;" />
            </div>
        </div>

        <div class="content-card z-depth-2">
            <div class="command">
                <a class="waves-effect btn-floating btn-small deep-orange"><i class="mdi-editor-attach-money"></i></a>名刺交換済
            </div>
            <div class="info ">
                あなたはこの会社の社長さんと名刺交換を以前行っています。(1年前)
            </div>
        </div>

        <div class="content-card z-depth-2">
            <div class="command">
                <a class="waves-effect btn-floating btn-small deep-orange"><i class="mdi-editor-attach-money"></i></a>予算編成
            </div>
            <div class="info">
                決算月になりました：3月
            </div>
        </div>

    </div>
</div>