<div class="companyCommands">
    <input type="checkbox" id="checkbox3" />
    <label for="checkbox3" class="keep-check" data-name="（株）有隣堂" onclick="addChip();">この企業をキープ</label>
</div>
<div class="companyInfo">
    <div class="companyName">（株）有隣堂</div>
    <div class="companyScore">
        <!-- Ratings with Stars -->
        <span class="ratingStars">
                <i class="ion-star orange-text"></i>
                <i class="ion-star orange-text"></i>
                <i class="ion-star orange-text"></i>
                <i class="ion-star orange-text"></i>
                <i class="ion-star grey-text"></i>
            </span>
        <!-- /Ratings with Stars -->
        <span class="red-text fw-700" style="font-size: 2.5rem;">77.7</span>
        <span class="commands">
                <a class="btn-floating btn-small indigo lighten-1" href="https://ja-jp.facebook.com/yurindo.office/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="btn-floating btn-small blue" href="https://twitter.com/yurindo_store" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="btn-floating btn-small deep-orange lighten-1" href="https://www.navitime.co.jp/maps/poi?address=141100210000512505007" target="_blank"><i class="mdi-maps-local-restaurant"></i></a>
                <a class="btn-floating btn-small grey" href="#"><i class="mdi-communication-call-merge"></i></a>
                <a class="btn-floating btn-small green" href="http://www.yurindo.co.jp/storeguide/" target="_blank"><i class="mdi-social-public"></i></a>
            </span>

    </div>
    <div class="companyAccess">
        <table>
            <tr>
                <th><i class="mdi mdi-maps-place red-text"></i>所在地：</th>
                <td>
                    〒244-0801<br/>神奈川県横浜市戸塚区品濃町８８１－１６
                    <a href="https://www.navitime.co.jp/maps/poi?address=141100210000512505007" target="_blank" class="waves-effect btn-floating btn-small blue"><i class="mdi mdi-maps-directions"></i></a>
                </td>
            </tr>
            <tr>
                <th><i class="mdi mdi-communication-phone green-text"></i>電話：</th>
                <td>045-825-5551</td>
            </tr>
        </table>
    </div>
</div>
<div class="companyData row">
    <div id="test1" class="tab-content">
        <div class="content-card z-depth-2">
            <div class="command">
                <a class="waves-effect btn-floating btn-small lime"><i class="fa fa-newspaper-o"></i></a>ニュース
            </div>
            <div class="info">
                【有隣堂　ららぽーと湘南平塚店】ブックカフェで「インテリアのヒント」を見つけよう！
                <a href="http://news.ameba.jp/image/20170726-481/" target="_blank">
                    <img src="assets/_con/images/o15001000d5a0694-20170720181432.jpg" style="width: 100%;" />
                </a>
            </div>
        </div>

        <div class="content-card z-depth-2">
            <div class="command">
                <a class="waves-effect btn-floating btn-small blue"><i class="fa fa-bullhorn"></i></a>プレスリリース
            </div>
            <div class="info">
                無償減資に関するお知らせ<br/>
                <p>
                    平成29年4月25日の臨時株主総会において、 当社の資本金2億6,400万円のうち2億1,400万円を「その他資本余剰金」に移行し、 資本金5,000万円とする無償減資が可決されました。 なお、本減資は所定の手続きを経て、平成29年6月1日から効力が発生しております。
                </p>
            </div>
        </div>

        <div class="content-card z-depth-2">
            <div class="command">
                <a class="waves-effect btn-floating btn-small cyan"><i class="mdi-device-gps-fixed"></i></a>近距離
            </div>
            <div class="info">
                あなたの自宅からの距離：0.3 km
            </div>
        </div>

    </div>
</div>