<div>
    <table id="companies_table" class="table" style="border: none;">
        <tbody>
            <tr>
                <th>
                    氏名
                </th>
                <td>
                    {{>name}}
                </td>
            </tr>
            <tr>
                <th>
                    役職
                </th>
                <td>
                    {{>position}}
                </td>
            </tr>
            <tr>
                <th>
                    学歴
                </th>
                <td>
                    {{>academicBackground}}
                </td>
            </tr>
            <tr>
                <th>
                    メモ
                </th>
                <td>
                    {{>memo}}
                </td>
            </tr>
        </tbody>
    </table>
</div>