<div style="opacity: 0.8">
    <table id="relations_table" class="table bordered" style="border: none;">
        <tbody>
            <tr>
                <th>
                    関係性
                </th>
                <td>
                    {{>text}}
                </td>
            </tr>
            <tr>
                <th>
                    from
                </th>
                <td>
                    {{>from.name}}
                </td>
            </tr>
            <tr>
                <th>
                    to
                </th>
                <td>
                    {{>to.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>