<div>
    <table id="companies_table" class="table" style="border: none;">
        <tbody>
            <tr>
                <th>
                    代表者氏名
                </th>
                <td>
                    {{>presidentKana}}<br>{{>presidentKanji}}
                </td>
            </tr>
            <tr>
                <th>
                    企業名
                </th>
                <td>
                    {{>companyNameKana}}
                    <br>{{>companyNameKanji}}
                </td>
            </tr>
            <tr>
                <th>
                    所在地
                </th>
                <td>
                    〒 {{>zipCode}} <br>{{>locationText}}
                </td>
            </tr>
            <tr>
                <th>
                    電話番号
                </th>
                <td>
                    ☎ {{>telNumberText}}
                </td>
            </tr>
            <tr>
                <th>
                    資本金
                </th>
                <td>
                    {{>capital}}（千円）
                </td>
            </tr>
            <tr>
                <th>
                    従業員数
                </th>
                <td>
                    {{>employeesCount}} 人
                </td>
            </tr>
        </tbody>
    </table>
</div>