<div style="opacity: 0.8">
    <table id="companies_table" class="table bordered" style="border: none;">
        <tbody>
            <tr>
                <th rowspan="2">
                    {{>name}}
                </th>
                <td>
                    {{>fromCompany}}
                </td>
            </tr>
            <tr>
                <td>
                    {{>toCompany}}
                </td>
            </tr>
            <!-- <tr>
                <th>
                    edgeの長さ
                </th>
                <td>
                    {{>length}}
                </td>
            </tr> -->
        </tbody>
    </table>
</div>