{{for timeLineData}}
<li data-timeline_id="{{>id}}" data-alarm_type="{{>alarm_type}}" data-company_code="{{>company_code}}" data-company_code_l="{{>company_code_l}}"
    data-company_code_r="{{>company_code_r}}" class="collection-item avatar" style="position: relative;">
    <div style="min-height:5rem; margin-left:.5rem">
        {{for ~root.alarmTypes ~alarm_type=alarm_type}} {{if id == ~alarm_type}}
        <h5 class="tl_title">{{>name}}</h5>
        {{/if}} {{/for}}
        <p class="ml-0">{{>company_name}}</p>
        <p class="ml-5">{{>business_name}}</p>
        {{if comment}}
        <p class="ml-10">{{>comment}}</p>
        {{/if}} {{if comment2}}
        <p class="ml-10">{{>comment2}}</p>
        {{/if}}
    </div>

    {{for ~root.alarmTypes ~alarm_type=alarm_type}} {{if id == ~alarm_type}}
    <div style="position: absolute; top:0; left:0; padding:1rem">
        <img src="./assets/_con/images/ic_alarm/{{>image}}" style="width: 4rem;" />
    </div>
    {{/if}} {{/for}}

    <div style="position: absolute; vertical-align:top; top:0; right:0; padding:1rem;">
        <p name="createdDate" class="black-text right-align" value-created_date="{{>created_date}}">{{timeLineDate:created_date}}</p>
        <p class="black-text right-align">
            担当者： {{if staff == ""}}
            <strong>未定</strong>
            {{else staff == "あなた"}}
            <strong>あなた</strong>
            {{else}} {{>staff}} {{/if}}
        </p>
    </div>
</li>
{{/for}}